div, p, h1{
    text-align: center;
}

table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
}

table {
    align: center;
}

td {
    padding: 15px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}